@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "계정 잠금";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">잘못된 로그인 시도 횟수가 너무 많아서 계정이 잠겼습니다.</h2>
</hgroup>

<p>
    걱정하지 마십시오. 계정은 60초 후에 자동으로 잠금 해제됩니다.
    그 시간이 지난 후에 다시 시도하십시오.
</p>